div#venueElement {
	overflow: hidden;
	/* height: 400px;
    width:400px; */
	height: 80vh;
	box-shadow: 0px 0px 5px 2px inset #3532321f;
	will-change: transform;
    background: white;
    
    margin-left: 130px;
    margin-right: 100px;
}

.ticket.ticket_00.ticketState20 {
    filter: contrast(0.3);
    }
div#venueZoom {
	will-change: transform;
	transition: transform 0.2s cubic-bezier(0.15, 0.32, 1, 0.87);
}

#venue {
	position: relative;
	height: 100%;
	width: 100%;
	user-select: none;
	will-change: transform;
}

#venue .ticket {
	position: absolute;
	line-height: 0px;
	width: 19px;
	font-size: 11px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	will-change: transform;
	transition: transform 0.2s ease-out;
}

.ticket.selected {
	background: green;
	transform: scale(1.3);
    box-shadow: inset 0px 0px 3px 1px #000000;
}

#venue .ticket {
	border-radius: 50%;
	width: 13px;
	font-size: 8px;
	height: 13px;
	display: flex;
	justify-content: center;
}

#venue .label {
	position: absolute;
}

#venue .ticket.ticket_00 {
	color: gray;
	font-size: 0.5em !important;
}

div#venue span {
	line-height: 13px;
}

div#venueElement.zooming #venue {
	transition: transform 0.2s cubic-bezier(0.15, 0.32, 1, 0.87);
	will-change: transform;
}

.ticket:not(.ticket_00):hover {
	cursor: pointer;
	background: #00e0d6;
	box-shadow: 0px 0px 3px 2px inset #8a8a8a;
}
div#loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 10vw;
    color: #676767;
}
div#zooming {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
}

div#zooming a {
    display: block;
    width: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: #FF5722;
    border: 1px solid black;
    text-align: center;
}
div#venueConfig {
    height: 0px;
}